& {
  --bond-red-dark: #510902;
  --bond-red-med: #580e11;
  --bond-red-bright: #c21f26;

  --bond-red-fade: rgba(88, 14, 17, 0.533);
  --bond-red-fade-faint: rgba(81, 9, 2, 0.133);

  --bond-white: #fdf9f0;
  --bond-black: #12120c;

  --bond-blue-bright: #3a81c3;
  --bond-blue-dark: #054480;

  --bond-power-color: var(--bond-red-med);
}