& {
  top: 50px;
  opacity: 0.5;

  &:hover { opacity: 1 }

  #tah-collapse-expand {

    button {
      background: black;
      padding: 0 3px;
      width: min-content;
      position: relative;
      left: -2px;
      border-radius: 0;

      height: 14px;
      outline: 1px solid white;
      top: 14px;

      i.fas {
        padding: 0;
        margin: 0;
        top: -7px;
      }
    }
  }

  #tah-categories {
    gap: 5px;

    .tah-category {
      opacity: 0.5;
      --tah-action-color: 255, 0, 0;

      // &#tah-category-pilot { --tah-action-color: 255, 255, 50 }
      // &#tah-category-mech { --tah-action-color: 255, 30, 30 }
      // &#tah-category-weapons { --tah-action-color: 255, 30, 30 }
      // &#tah-category-systems { --tah-action-color: 255, 30, 30 }
      // &#tah-category-utility { --tah-action-color: 30, 255, 255 }

      &::before {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(153, 0, 0, 1);
        content: "";
        /* margin-right: -100%; */
        position: absolute;
        transform: skewX(-20deg);
        z-index: -1;
      }

      button.tah-title-button {
        line-height: 1;
        font-family: Oswald;
        padding: 1px 3px;
        border-radius: 0;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        background: transparent;
        // text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
        // outline: 2px inset rgba(var(--tah-action-color), 1);
        margin-left: 3px;
        font-weight: bold;
        // opacity: 0.5;
        box-shadow: none;

        i.fa.fa-filter { display: none }
      }

      &.hover {
        opacity: 1;

        .tah-content.expand-down .tah-subcategory {
          // &:nth-child(2n+1) { background: rgba(var(--tah-action-color), 0.125) }
          // &:nth-child(2n) { background: rgba(var(--tah-action-color), 0.25) }

          .tah-subtitle-wrapper {
            // height: 16px;
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            width: 175px;
            background: linear-gradient(to right, transparent, black);
            /* margin-right: 5px; */
            justify-content: flex-end;
            flex-wrap: nowrap;
            /* padding: 3px 0px; */

            .tah-subtitle {
              font-family: Oswald;
              text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
              background: black;
              max-width: min-content;
              white-space: nowrap;
              /* margin-left: auto; */
              text-align: right;
              display: inline-block;
              text-transform: uppercase;
              /* padding-left: 5px; */

              &::after {
                content: ":";
                color: white;
                display: inline-block;
              }
            }
          }

          .tah-actions {
            margin-left: 5px;
            gap: 0px;
            column-gap: 5px;
            /* border-bottom: 1px dotted cyan; */
            /* padding: 3px 0px; */
            /* margin: 0; */

            .tah-action {
              border-color: rgba(var(--tah-action-color), 0.5);

              button {
                box-shadow: 0 0 0 1px rgba(var(--tah-action-color), 0.5),
                  0 0 10px rgba(var(--tah-action-color), 0.5);
                background: black;
                border-radius: 0;

                .tah-action-name {
                  line-height: 16px;
                  font-family: Oswald;
                  color: rgba(var(--tah-action-color), 1);
                  // font-variant: small-caps;
                  text-transform: uppercase;
                }

                &:hover {
                  border-color: black;
                  background: rgba(var(--tah-action-color), 0.5);
                  color: black;

                  .tah-action-name {
                    line-height: 16px;
                    font-family: Oswald;
                    color: black;
                    text-shadow: none;
                  }
                }
              }
            }
          }

        }
      }
    }
  }

  #tah-buttons {

    #tah-edit-categories {
      i.fa.fa-book {
        font-size: 12px;
        padding: 0 3px;
        margin: 0 3px;
      }
    }

  }
}