& {
  .window-content {
    > .flexrow {
      > aside.sidebar {
        padding-left: 4px;

        > nav.tabs {
          .item.category-tab {

            &[data-tab='all'],
            &[data-tab='core'],
            &[data-tab='system'],
            &[data-tab='eunos-lancer-hacks'] {
              font-family: "Arial";
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 1000;

              white-space: nowrap;
              line-height: 14px;

              &[data-tab='core'],
              &[data-tab='eunos-lancer-hacks'] {
                margin-left: 10px;
                font-family: "Oswald";
                font-weight: 500;
              }

              > span { margin-left: 5px; }
            }
          }
        }
      }

      > form.categories > .scrollable {
        .tab[data-tab="eunos-lancer-hacks"] {
          .module-settings-wrapper {
            .eunos-form-group-wrapper {
              position: relative;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: space-around;
              align-items: stretch;
              gap: 10px;

              .eunos-submenu-toggle {
                order: 1;
                flex-grow: 0;
                display: flex;
                align-items: flex-start;

                label, .notes { display: none; }
              }

              .eunos-submenu {
                order: 2;
                flex-grow: 1;
                margin: 0;

                > label {
                  font-weight: bold;

                  &::after {
                    content: ": Enabled";
                    color: #009900;
                  }
                }

                .eunos-dependency-notice {
                  background: gold;
                  display: flex;
                  gap: 5px;
                  padding: 5px 15px;
                  border-radius: 15px;
                  margin-left: -30px;
                  align-items: center;

                  p { margin: 0 }
                  i {
                    font-size: 25px;
                    color: rgb(100, 0, 0);
                  }
              }

                .eunos-refresh-notice {
                  padding: 0 5px 0px 2px;
                  border-radius: 5px;
                  font-family: Oswald;
                  color: rgba(150, 0, 0, 1);;
                  line-height: 1;
                  font-size: 12px;
                  font-weight: bold;
                  font-style: italic;
                }

                button {
                  font-size: 18px;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;

                  label {
                    font-family: Oswald;
                    line-height: 23px;
                    white-space: nowrap;
                    &:before {
                      content: "Settings: ";
                    }
                  }

                  i {
                    display: block;
                    width: 24px;
                  }
                }

                &.eunos-submenu-disabled {
                  > label::after {
                    content: ": Disabled";
                    color: #990000;
                  }

                  button {
                    pointer-events: none;
                    opacity: 0;
                  }

                  .eunos-refresh-notice { display: none }

                  &.eunos-submenu-disabled-dependencies {

                    + .eunos-submenu-toggle input {
                      pointer-events: none;
                      opacity: 0.25;
                    }
                  }
                }

                &.eunos-submenu-no-submenu {
                  button {
                    pointer-events: none;
                    opacity: 0;
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}